/* You can add global styles to this file, and also import other style files */

.main {
    margin-top: 30px;
    padding-top: 20px;
}


.row.top-row {
        position: fixed;
    width: 100%;
    background: gray;
    z-index: 10;
}
.table {
    padding-top: 89px;
}
.row {
    border-bottom: 1px solid black;
}
.row:not(.top-row) > div{
    border-right: 1px solid black;

}
.row.top-row {
        position: fixed;
    width: 100%;
    background: #c5c5c5;
    font-size: 30px;
    z-index: 10;
    top: 0;
}